html{
    width: 100%;
    height: 1450px;
    margin: 0px;
}
body{
    width: 100%;
    height: 1450px;
    margin: 0px;
    scrollbar-width: 3px;
    background: linear-gradient( rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 1) ), url('background.jpeg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    text-align: center;
    background-color: rgb(20,20,20);
}
#background{
    background-color: rgb(20,20,20);
    height: auto;
}
body::-webkit-scrollbar{
    width:1em;
    background-color:rgb(20, 20, 20) ;
    outline: 1px solid rgb(54, 54, 54);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(207, 156, 45);
    outline: 1px solid rgb(158, 116, 24);
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(190, 132, 5);
}
header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-bottom: 150px;
    position:relative;
    z-index: 1000;
}
header ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin-top:70px;
    margin-bottom:50px;
    position: fixed;
    background-image: linear-gradient(to top, rgb(22, 22, 22, 0.7), rgba(22, 22, 22,1));
    font-family: 'Comfortaa', cursive;
    border-bottom: solid #c89143;
    border-radius: 5px;
}
div ul li img{
    width: 102px;
    display: inline;
}
div ul li{
    text-align: left;
}
div h1{
    margin-bottom: 5px;
}
header ul li {
    float: left;
    height: 64px;
}
header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 18pt;
    margin-left: 12px;
    margin-right: 12px;
}
header ul li:hover {
    background-color: #c89143;
    height: 70px;
}
header ul li:first-of-type {
    background-color: #c89143;
    height: fit-content;
    width: fit-content;
}
header ul li:first-of-type:hover {
    background-color: #dd9632
}

nav{
    background-color:rgb(22,22,22) ;
    height:70px;
    width: 100%;
    list-style-type: none;
    font-family: 'Barlow Condensed', cursive;
    color:white;
    font-size: 54px;
    position:fixed;
    margin-bottom: 50px;
    display:block;
}

aside {
    width: 35%;
    padding: 5px;
    margin-right: 50px;
    border-radius: 10px;
    border:solid white;
    margin-left: 0px;
    float: right;
    text-align: center;
    background: rgba(22, 22, 22,0.7);
    font-size: 24px;
    overflow:hidden;
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 150px;
  }

  aside ul{
    font-style: bold, italic;
  }


.What{
    font-family: 'Montserrat', sans-serif;
    color:white;
}
.box{
    width: auto;
    height: auto;
    background: rgba(22, 22, 22,0.7);
    margin: 20px 50px;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    border:solid #c89143
}
.boxVideo{
    float:left;
    margin-right: auto;
    margin-left: 50px;
    width: 1000px;
    border-radius: 10px;
    overflow:hidden;
    border:white;
    border-style: solid;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(22, 22, 22,0.7);
    color: white;
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    border-top: solid #c89143;
    border-radius: 10px;
}
div ul li{
    line-height: 100px;
}